* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Raleway", sans-serif;
}
/* common style */
.common_width {
  width: 80%;
  margin: 0 auto;
}
.border {
  border: 1px solid black;
}
.common_button {
  padding: 12px 36px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #4e47ffff;
  border: 1px solid #4e47ffff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.6s;
}
.common_button:hover {
  background-color: white;
  color: #4e47ffff;
}
.common_color {
  color: #4e47ffff;
}
/* header section */
header {
  background-image: url("../Assets/Hero-bg.png");
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
nav > h2 {
  font-size: 34px;
  font-weight: 900;
}

/* hero container */
.hero_container {
  text-align: center;
  padding: 178px 0;
}
.hero_container h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}
